<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">
      <img src="assets/images/logo" width="150px" height="60px" class="d-inline-block align-top" alt="">

  </a>

  <ul class="nav justify-content-end">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link active" [routerLink]="['home']">Payment</a>
        </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link active" [routerLink]="['invoice']">Invoice</a>
      </li>
     
    </ul>
</nav>