<div class="container-fluid">

  <div class="col-lg-12 py-5">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-5 py-5 card border-primary">
        <form name="form" role="form" (ngSubmit)="f.form.valid && onSubmit(target)" #f="ngForm" novalidate>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" required="true" for="code">Payment Code</label>
            <div class="col-md-8">
              <select class="form-control" (change)="selectOption($event.target.value)" require>
                <option *ngFor="let item of paymentCodes;let i = index" [value]="item" [selected]="i == 0">{{item}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="date" required>Creation Date</label>
            <div class="col-md-8">
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                name="date" id="date" [(ngModel)]="date" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="days" required>Days</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="days" id="days" [(ngModel)]="paymentDetail.days" required
                [disabled]=true>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" for="remdays" required>Remind</label>
            <div class="col-md-4">
              <input type="text" class="form-control" name="remdays" id="remdays"
                [(ngModel)]="paymentDetail.reminderdays" #reminderdays="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && reminderdays.invalid }" required placeholder="No Of Days">
            </div>
            <label class="col-md-4 col-form-label" for="remdays" required>Days Before</label>
            <div *ngIf="f.submitted && reminderdays.invalid" class="invalid-feedback">
              <div *ngIf="reminderdays.errors.required">Reminder Day(s) is/are required</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 col-form-label" required="true" for="code">Description</label>
            <div class="col-md-8">
              <textarea class="form-control" id="desc" [(ngModel)]="paymentDetail.description" name="desc" rows="3"
                spellcheck="true" #description="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" placeholder="Write Description Here"
                required
                style="z-index: auto; position: relative; line-height: 24px; 
                                 font-size: 16px; transition: none 0s ease 0s;
                                  background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255);"></textarea>
              <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                <div *ngIf="description.errors.required">Description is required</div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-center">
            <button class="btn btn-primary" type="submit" >Save</button>
          </div>
        </form>
      </div>
      <div class="col-lg-3">

      </div>
    </div>
    <div [hidden]="!showtable" #target  class="col-lg-12 mt-5 shadow-lg table-responsive">
        <table class="table table-bordered table-striped pt-5">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">PAYMENT_CODE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">CREATION_DATE</th>
                <th scope="col">DAYS</th>
                <th scope="col">REMINDER_BEFORE_DAYS</th>
                <th scope="col">ACTION</th>
      
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paymentDetail of paymentDetails">
                <td>{{paymentDetail.id}}</td>
                <td>{{paymentDetail.paymentCode}}</td>
                <td>{{paymentDetail.description}}</td>
                <td>{{paymentDetail.creationDate}}</td>
                <td class="text-right">{{paymentDetail.days}}</td>
                <td class="text-right">{{paymentDetail.reminderdays}}</td>
                <td><button class="btn btn-danger mr-4" mwlConfirmationPopover [popoverTitle]="'Are You Sure?'"
                    [popoverMessage]="'Are you really <b>sure</b> you want to do this?'" [confirmText]="'Yes'" [cancelText]="'No'" placement="top"
                    (confirm)="deleteDetails(paymentDetail)" (cancel)="cancelClicked = true" confirmButtonType="danger"
                    cancelButtonType="success" >
                    Delete </button>
                  <button type="button" class="btn btn-primary" (click)="updateDetails(paymentDetail)">Edit</button>
                </td>
      
      
                <!-- <button type="button" class="btn btn-danger mr-4" (click)="deleteDetails(paymentDetail)">Delete</button> -->
      
              </tr>
            </tbody>
          </table>
    </div>
    
  </div>

</div>