<div class="container">
  <div class="col-lg-12" style="clear: both;height: 25px;"></div>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>INV-NO</th>
              <th>INV-DATE</th>
              <th>PAYMENT-TERM</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoices">
              <td>{{invoice.invoiceNumber}}</td>
              <td>{{invoice.invoiceDate}}</td>
              <td>{{invoice.paymentTerm}}</td>
              <td>{{invoice.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-2"></div>

    </div>
  </div>
</div>